<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ansible Deployed Tomcat by Rod</title>
  <meta name="description" content="Rod's Ansible Created Content">
  <meta name="tony.g.kay@gmail.com" content="Ansible">

</head>

<body>
    <h1>Ansible has done its job - Welcome to Tomcat on {{ inventory_hostname }}</h1>
</body>
</html>